<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="provider"/>
    <!--注册中心ip地址-->
    <dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}"/>
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
    <!--扫描注解包路径，多个包用逗号分隔，不填packages表示扫描当前applicationContext中所有的类-->
    <dubbo:annotation package="com.provider.service"/>
    <!--<dubbo:service interface="com.provider.service.AlarmService" ref="alarmService"/>-->
    <!--<bean id="alarmService" class="com.provider.service.impl.AlarmServiceImpl" />-->
</beans>